.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 0 0 0;
  gap: 100px;
}

.magic-title {
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #e9d8ff;
  text-shadow: 0 0 10px #bf7fff, 0 0 20px #9b5de5;
  animation: glow 3s ease-in-out infinite alternate;
  margin-top: 2rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #bf7fff, 0 0 20px #9b5de5;
  }
  to {
    text-shadow: 0 0 20px #d8a7ff, 0 0 40px #c084fc;
  }
}

.magic-description {
  text-align: center;
  font-family: "Caudex", serif;
  font-size: 1.2rem;
  color: #cbb8ec;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.spellbook-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .magic-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .magic-description {
    font-size: 1rem;
    margin: 0 0 2rem;
  }
}

.spell-books-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  gap: 50px;
  z-index: 99;
}

.spell-book-prices {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 5%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.048);

  .magic-title {
    font-size: 1.2rem;
    margin-top: 0;
    text-align: start;

    span{
      background: linear-gradient(90deg, #d7a7ff63, #c084fc67);
      padding: 0.2rem 0.8rem;
      border-radius: 20px;
      color: #e9d8ff;
      border: 1px solid #b797e0;
      margin-left: 20px;
    }
  }

  .btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 6%;
  color: #bf9df2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
